<!doctype html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title data-th-text="${loggedInUser.name}+'|  SCM'">Profile page</title>
</head>
<body>
<section id="content">
    <div>
        <h1>Welcome to profile page</h1>
    </div>
</section>
<script>console.log("This is profile page")</script>
</body>
</html>